/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.add-remove {
  display: flex;
  justify-content: space-between;
}
#remove {
  background-color: rgb(112, 7, 7);
  letter-spacing: 3px;
}
